.Rproj.user
.Rhistory
*.rmarkdown
*.RData
.Ruserdata
*.Rproj
*.o
*.vscode*
*.json
*.png
.DS_Store
*.pdf
sim_*
script*
*test*
*tmp*
*.tex
*.csv
*.qmd
*.rmd
*.vdoc.r
*.txt
*hcp*
*copy*
external_methods.r
load_data.r
plot_timeseries_creditble_interval.r